<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3 style="margin-top: 10px; float: left">Flattened Ontology</h3>
      <div style="margin-top: 10px; float: right">
        <span class="btn btn-sm btn-danger btn-file glyphicon glyphicon-file"> Replace All Keywords<input id="file" type="file" (change)="fileChanged($event)"></span>
        <button (click)="retrainSOM()" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-knight"></span> Retrain SOM</button>
        <button (click)="saveKeywordsToServer()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        <button class="btn btn-sm btn-success" (click)="addKeyword()"><span class="glyphicon glyphicon-plus"></span> Keyword</button>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Word</th>
          <th style="text-align: center">Saved</th>
          <th style="text-align: center">Delete</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let keyword of keywords">
            <td><input class="form-control" [(ngModel)]="keyword.keywordValue"/></td>
            <td *ngIf="keyword.analyseWord === true" style="text-align: center"><span class="glyphicon glyphicon-ok" style="color: green"></span></td>
            <td *ngIf="keyword.analyseWord === false" style="text-align: center"><span class="glyphicon glyphicon-remove-circle" style="color: red"></span></td>
            <td (click)="deleteKeyword(keyword)" style="text-align: center"><span class="glyphicon glyphicon-remove-circle" style="color: red"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
