<div class="container">
  <div class="row">
    <div class="col-md-10" style="margin-top: 10px">
      <div style="float: right">
        <input [(ngModel)]="uMatrixTerm"/>
        <button (click)="submitWordToUMatrix()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-signal"></span> Fetch U Matrix</button>
      </div>
      <div style="float: left">
        <google-chart #uMatrixVC [data]="uMatrix"></google-chart>
      </div>
      <div style="float: left">
        <google-chart #trainingChartVC [data]="trainingChart"></google-chart>
      </div>
    </div>
  </div>
</div>
