/* You can add global styles to this file, and also import other style files */
.navbar-default {
  background-color: #00729b;
  padding: 5px;
  margin: -5px;
}

.sidebar-primary-color {
  background-color: #029ad1;
}

.secondary-color {
  color: #2ecc71;
}

.secondary-color-light {
  color: #35ff8b;
}

.secondary-color-text-size {
  font-size: 30px;
}

.link-underline {
  text-decoration:  none;
}

.text-align-right {
  text-align: right
}


.container-margin-left {
  margin-left: 20px;
}
