<div class="container top-margin">
  <div class="row">
    <div class="col-md-10">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           class="well file-drop-zone">
        Upload File <span class="glyphicon glyphicon-upload"></span>
      </div>
      <div>
        <span class="btn btn-success btn-file glyphicon glyphicon-file">
            Select<input id="file" type="file" (change)="fileChanged($event)">
        </span>
      </div>
      <h3 style="margin-top: 10px; float: left">Files</h3>
      <div style="margin-top: 10px; float: right">
        <button (click)="saveFilesToServer()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload</button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th width="40%">Name</th>
          <th style="text-align: center">Has Been Saved</th>
          <th style="text-align: center">Delete</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of documents">
            <td><input class="form-control" value="{{doc.name}}"/></td>
            <td *ngIf="doc.analyse === true" style="text-align: center"><span class="glyphicon glyphicon-ok" style="color: green"></span></td>
            <td *ngIf="doc.analyse === false" style="text-align: center"><span class="glyphicon glyphicon-remove-circle" style="color: red"></span></td>
            <td (click)="deleteDocument(doc)" style="text-align: center"><span class="glyphicon glyphicon-remove-circle" style="color: red"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
