<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img alt="Brand" width="50" height="50" src="../../assets/logo.png"><label class="secondary-color secondary-color-text-size">BRAINIAC</label>
    </div>
  </div>
</nav>
