<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div style="margin-top: 10px; float: right">
        <button class="btn btn-sm btn-primary" (click)="runAnalysis()"><span class="glyphicon glyphicon-adjust"></span> Run Full Analysis</button>
      </div>
      <h3 style="margin-top: 10px">Knowledge Base</h3>

      <div class="panel-group" *ngFor="let page of pages">
        <div class="panel panel-primary">
          <div class="panel-heading primary-color-bg-dark">
            <h4 class="panel-title">
              <a>{{page.title}}</a>
            </h4>
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body"><p *ngFor="let paragraph of page.paragraph">{{paragraph}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
