.sidebar {
  width: 200px;
  height: 4000px;
  float: left;
}

.chatbot_div {
  width: 170px;
  height: 350px;
  border-color: black;
  background-color: lightgray;
  border-radius: 10px;
}

.chatbot_text_area_size {
  height: 317px;
}

.chatbot_input {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar-small {
  width: 50px;
  height: 4000px;
  float: left;
}

.position-sidebar-elements {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.scrollbar {
  overflow-y: scroll;
}

#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #2ecc71;
}

.message-position-left {
  float: left;
  margin: 5px 10px 2px 5px;
  border: 5px black;
  border-radius: 5px;
  background-color: white;
}

.message-position-right {
  float: right;
  margin: 5px 5px 2px 10px;
  border: 5px black;
  border-radius: 5px;
  background-color: white;
}

.sidebar-buttons {
  color: #2ecc71;
  background-color: #00729b;
}

.sidebar-buttons:hover {
  color: #35ff8b;
  background-color: #029ad1;
  border-color: aliceblue;
}

.sidebar-buttons-active {
  color: #35ff8b;
  background-color: #029ad1;
  border-left-width: 30px;
  border-color: aliceblue;
}
