<div class="sidebar sidebar-primary-color" [hidden]="sideBarIsHidden">
  <a class="glyphicon glyphicon-remove position-sidebar-elements secondary-color-light link-underline" (click)="hideSidebar()"></a>
  <div class="btn-group-vertical position-sidebar-elements" style="width: 100%" role="group">
    <button type="button" routerLink="/files" routerLinkActive="sidebar-buttons-active" class="btn text-align-right sidebar-buttons">Documents</button>
    <button type="button" routerLink="/keywords" routerLinkActive="sidebar-buttons-active" class="btn text-align-right sidebar-buttons">Ontology</button>
    <button type="button" routerLink="/knowledgebase" routerLinkActive="sidebar-buttons-active" class="btn text-align-right sidebar-buttons">Knowledge Base</button>
    <button type="button" routerLink="/users" routerLinkActive="sidebar-buttons-active" class="btn text-align-right sidebar-buttons">Statistics</button>
  </div>
  <div class="position-sidebar-elements">
    <div class="chatbot_div">
      <div class="chatbot_text_area_size scrollbar" id="style-3">
        <div *ngFor="let message of messages; let i = index">
          <div *ngIf="(i%2)==0" class="message-position-left">{{message}}</div>
          <div *ngIf="(i%2)==1" class="message-position-right">{{message}}</div>
        </div>
      </div>
      <div class="input-group chatbot_input">
        <input type="text" class="form-control" [(ngModel)]="currentQuestion">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" (click)="sendMessage()"><span class="glyphicon glyphicon-send"></span></button>
        </span>
      </div>
    </div>
    <img alt="Mascot" style="margin-top: 5px" width="94" height="125" src="../../assets/pango.png">
  </div>
</div>
<div class="sidebar-small sidebar-primary-color" [hidden]="!sideBarIsHidden">
  <a class="glyphicon glyphicon-menu-hamburger position-sidebar-elements secondary-color-light link-underline" (click)="showSidebar()"></a>
</div>
